<%- include("./partials/header.ejs") %>
      <div class="container">
        <div class="row head" id="peak" style="margin: 100px 0 0 0;">
          <div class="col-md-8">  
          <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link active"
                    id="tab-login"
                    data-mdb-toggle="pill"
                    href="/login"
                    role="tab"
                    aria-controls="pills-login"
                    aria-selected="true"
                    >Login</a
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <a
                    class="nav-link"
                    id="tab-register"
                    data-mdb-toggle="pill"
                    href="/register"
                    role="tab"
                    aria-controls="pills-register"
                    aria-selected="false"
                    >Register</a
                  >
                </li>
              </ul>
              <!-- Pills navs -->
  
              <!-- Pills content -->
              <div class="tab-content">
                <div
                  class="tab-pane fade show active"
                  id="pills-login"
                  role="tabpanel"
                  aria-labelledby="tab-login"
                >
                  <form action="/login" method="POST">
                    <div class="text-center mb-3">
                      <p>Sign In with:</p>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
  
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
  
                    <p class="text-center">or:</p>
  
                    <!-- username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginName" name="username">Username</label>
                        <input type="text" id="loginName" name="username" class="form-control" />
                    </div>
  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword">Password</label>
                        <input type="password" id="loginPassword" name="password" class="form-control" />
                     
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a member? <a href="/register">Signup</a></p>
                    </div>
                  </form>
                </div>
                </div>
        </div>   
      </div>            

<%- include("./partials/footer.ejs") %>