<div class="col-md-8"> 
        <div class="row">
            <div class="col-md-5">
                <blockquote class="blockquote">
                    <h5><%= foundblog.topic %></h5>
            </div>
            <div class="col-md-4">
                    <i id="blend">
                        <p>Category: <span><b><%= foundblog.category %></span></b></p>
                    </i>
                </blockquote>
             </div>
        </div>

    <div class="row">
        <div class="col-md-5">        
                <img src="<%= foundblog.image %>" alt="image">                                  
        </div>
        <div class="col-md-6">
            <div>
                 <h6><%= foundblog.title %></h6>
              
            </div>
        </div>
    </div>
    <hr>
   
</div>